@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$font-family: "Manrope", sans-serif;

$gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
$gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

$color-bg: #040c18;
$color-footer: #031b34;
$color-blog: #042c54;
$color-text: #81afdd;
$color-subtext: #ff8a71;
$color-button-bg: #ff4820;
$color-input-bg: #052d56;
$color-sidebar: rgba(255, 255, 255, 0.137);
* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: black;
}
body {
  background-color: $color-bg;
}

// start styling navbar
.navbar {
  .navbar__wrapper {
    padding: 10px 20px;
    background-color: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .navbar__wrapper-logo {
      a {
        font-size: 40px;
        font-weight: bolder;
        color: white;
        cursor: pointer;
      }
    }
    .navbar__wrapper-links {
      a {
        color: #fff;
        margin: 0 5px;
        font-size: 18px;
        padding: 5px 10px;

        &:hover {
          background-color: $color-button-bg;
        }
      }
    }
    .navbar__wrapper-links_mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-top: 157px;
      justify-content: center;
      align-items: flex-end;
      right: 0;
      background-color: rgb(108 104 104 / 14%);
      z-index: 99;
      height: 100vh;
      width: 100px;

      .navbar__links-mobile {
        width: 100%;
        a {
          display: flex;
          justify-content: flex-start;
          padding: 10px 0;
          color: #fff;
          width: 100%;

          &:hover {
            background-color: $color-button-bg;
          }
        }
      }
    }
    .navbar__wrapper-loggin_buttons {
      a {
        color: #fff;
        font-size: 18px;
      }
      button {
        background-color: $color-button-bg;
        font-size: 18px;
        padding: 5px 10px;
        margin: 5px 20px;
        color: white;
      }
    }

    img {
      width: 25px;
      height: 25px;
      background-color: $color-sidebar;
      padding: 2px;
      border-radius: 10px;
      cursor: pointer;
      display: none;
    }
    .closeIcon {
      background-color: unset !important;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding-right: 85px;
    }
  }
}
@media screen and (max-width: 850px) {
  .navbar__wrapper-links {
    display: none;
  }
  .navbar__wrapper {
    img {
      display: block;
    }
  }
}
@media screen and (max-width: 375px) {
  .navbar__wrapper-loggin_buttons {
    display: none;
  }
}

// End of  styling navbar

// start styling Header

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  .header__description {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 150px;
    flex-direction: column;
    flex: 1;
    align-items: center;
    h1 {
      top: 0;
      width: 614px;
      height: 225px;

      font-family: "Manrope";
      font-style: normal;
      font-weight: 800;
      font-size: 62px;
      line-height: 75px;
      /* or 121% */

      letter-spacing: -0.04em;

      background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    p {
      width: 614px;
      margin-top: 50px;
      font-family: "Manrope";
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;

      color: #81afdd;
    }
    .header__description-search {
      display: flex;
      margin-top: 50px;
      input {
        border: none;
        outline: none;
        width: 456px;
        height: 73px;
        font-size: 27px;
        padding: 0 15px;
        color: white;
        background: $color-input-bg;
        border-radius: 5px 0px 0px 5px;
      }
      button {
        width: 174px;
        height: 73px;

        font-family: "Manrope";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;

        color: #ffffff;

        background: #ff4820;
        border-radius: 5px 0px 0px 5px;
      }
    }
    .header__description-img {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 160px;
      img {
        padding-top: 50px;
        padding-right: 10px;
      }
      p {
        color: #fff;
        font-family: "Manrope";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 38px;
      }
    }
  }
  .header__img {
    flex: 1;
    img {
      height: 95vh;
      max-width: 100%;
      margin-bottom: 200px;
    }
  }
  @media screen and (max-width: 1750px) {
    .header__description {
      width: 700px;
    }
  }
  @media screen and (max-width: 1500px) {
    .header__description {
      position: relative;
      z-index: 2;
    }
    .header__img {
      position: absolute;
      opacity: 0.4;
    }
  }
}
@media screen and (max-width: 850px) {
  .header {
    margin-top: 100px;
    margin-left: 50px;
  }
}
@media screen and (max-width: 600px) {
  .header {
    margin-top: 100px;
    margin-left: 100px;
    .header__img {
      display: none;
    }
  }
}
@media screen and (max-width: 550px) {
  .header {
    margin-top: 160px;
    margin-left: 130px;
  }
}
@media screen and (max-width: 450px) {
  .header {
    margin-top: 230px;
    margin-left: 130px;
  }
}
@media screen and (max-width: 375px) {
  .header {
    margin-top: 260px;
    margin-left: 160px;
  }
}
