@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

$font-family: "Manrope", sans-serif;

$gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
$gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

$color-bg: #040c18;
$color-footer: #031b34;
$color-blog: #042c54;
$color-text: #81afdd;
$color-subtext: #ff8a71;
$color-button-bg: #ff4820;
$color-input-bg: #052d56;
$color-sidebar: rgba(255, 255, 255, 0.137);
$color-placeHolder: #3d6184;
* {
  box-sizing: border-box;
  font-family: $gradient-text;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: black;
}
body {
  background-color: $color-bg;
  font-style: normal;
}

// start styling navbar
.navbar {
  .navbar__wrapper {
    padding: 10px 20px;
    background-color: unset;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;

    .navbar__wrapper-logo {
      a {
        font-size: 40px;
        font-weight: bolder;
        color: white;
        cursor: pointer;
      }
    }
    .navbar__wrapper-links {
      a {
        color: #fff;
        margin: 0 5px;
        font-size: 18px;
        padding: 5px 10px;

        &:hover {
          background-color: $color-button-bg;
        }
      }
    }
    .navbar__wrapper-links_mobile {
      display: flex;
      flex-direction: column;
      position: absolute;
      margin-top: 157px;
      justify-content: center;
      align-items: flex-end;
      right: 0;
      background-color: rgb(108 104 104 / 14%);
      z-index: 99;
      height: 100vh;
      width: 100px;

      .navbar__links-mobile {
        width: 100%;
        a {
          display: flex;
          justify-content: flex-start;
          padding: 10px 0;
          color: #fff;
          width: 100%;

          &:hover {
            background-color: $color-button-bg;
          }
        }
      }
    }
    .navbar__wrapper-loggin_buttons {
      a {
        color: #fff;
        font-size: 18px;
      }
      button {
        background-color: $color-button-bg;
        font-size: 18px;
        padding: 5px 10px;
        margin: 5px 20px;
        color: white;
      }
    }

    img {
      width: 25px;
      height: 25px;
      background-color: $color-sidebar;
      padding: 2px;
      border-radius: 10px;
      cursor: pointer;
      display: none;
    }
    .closeIcon {
      background-color: unset !important;
      width: 100%;
      display: flex;
      justify-content: flex-start;
      padding-right: 85px;
    }
  }
}
@media screen and (max-width: 850px) {
  .navbar__wrapper-links {
    display: none;
  }
  .navbar__wrapper {
    img {
      display: block;
    }
  }
}
@media screen and (max-width: 375px) {
  .navbar__wrapper-loggin_buttons {
    display: none;
  }
}

// End of  styling navbar

// start styling Header
.header {
  padding: 10px 40px;
  margin: 0 auto 0 auto;
  display: flex;
  width: 100%;
  max-width: 1400px;

  .header__content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    h1 {
      width: 100%;
      height: 225px;

      font-weight: 800;
      font-size: 62px;
      margin-bottom: 2rem;
      line-height: 75px;
      letter-spacing: -0.04em;
      background: $gradient-text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    p {
      width: 100%;
      height: 180px;
      font-weight: 400;
      font-size: 20px;
      line-height: 27px;
      color: $color-text;
    }
    .header__description-search {
      display: flex;
      justify-content: center;
      width: 100%;
      input {
        flex: 2;
        width: 100%;
        min-height: 50px;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #fff;
        background: $color-input-bg;
        border-radius: 5px 0 0 5px;
        border: none;
        outline: none;
        padding: 0 10px;
        &::placeholder {
          color: $color-placeHolder;
        }
      }
      button {
        flex: 0.58;
        border: none;
        outline: none;
        border-radius: 0 5px 5px 0;
        width: 100%;
        min-height: 50px;
        cursor: pointer;
        background: $color-button-bg;
      }
    }
    .header__description-img {
      width: 100%;
      margin-top: 50px;
      display: flex;
      align-items: center;
      justify-content: center;

      p {
        width: 100%;
        height: 37.61px;
        font-weight: 500;
        font-size: 12px;
        line-height: 38px;
        color: #ffffff;
        margin-left: 15px;
      }
      img {
        width: 181.79px;
        height: 38px;
      }
    }
  }
  .header__img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
@media screen and (max-width: 1050px) {
  .header {
    flex-direction: column;
  }
  .header__content {
    margin: 0 0 3rem;
  }
}
@media screen and (max-width: 700px) {
  .header {
    .header__content {
      h1 {
        font-size: 48px;
        line-height: 60px;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
@media screen and (max-width: 550px) {
  .header {
    .header__content {
      h1 {
        font-size: 48px;
        line-height: 60px;
        height: 100%;
      }
      p {
        font-size: 16px;
        line-height: 24px;
      }
      .header__description-search {
        input {
          font-size: 16px;
          line-height: 24px;
        }
        button {
          font-size: 16px;
          line-height: 24px;
        }
      }
      .header__description-img {
        flex-direction: column;
        p {
          margin: 0;
        }
      }
    }
  }
}
// end of header section

// Brand section
.brand {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 150px auto 150px auto;
  max-width: 1400px;
}
.brand__wrapper {
  flex: 1;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand__wrapper-icons {
  img {
    margin: 10px 25px;

    flex-grow: 0;
  }
}
//end of Brand section

// start what is Gpt-3 section
.whatGpt-3 {
  flex: 1;
  padding: 10px 135px;
  margin: 0 auto 0 auto;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  max-width: 1400px;
  background-color: #1a2d66;
  .whatGpt-3_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;

    .whatGpt-3-title {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      .whatGpt-3-title__line {
        width: 38px;
        height: 3px;
        background: $gradient-text;
      }
      span {
        width: 100%;
        font-weight: 800;
        font-size: 24px;
        line-height: 75px;
        letter-spacing: -0.04em;
        color: #ffffff;
        padding-bottom: 60px;
      }
    }
    p {
      max-width: 730px;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color: #81afdd;
    }
  }
  .whatGpt-3_mid {
    display: flex;
    margin: 50px 0;
    align-items: center;
    justify-content: space-between;
    h2 {
      max-width: 472px;
      max-height: 90px;
      font-weight: 800;
      font-size: 34px;
      line-height: 45px;
      background: $gradient-text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    p {
      max-width: 143px;
      max-height: 30px;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      /* identical to box height, or 188% */

      color: $color-subtext;
    }
  }

  .whatGpt-3_bottom {
    margin: 50px 0;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    .Gpt3Card {
      margin: 10px 25px;
      .Gpt3Card__upperline {
        width: 100%;
        max-width: 38px;
        height: 3px;
        background: $gradient-text;
      }
      .Gpt3Card__title {
        max-width: 105px;
        max-height: 75px;
        font-weight: 800;
        font-size: 24px;
        line-height: 75px;
        letter-spacing: -0.04em;
        color: #ffffff;
      }
      .Gpt3Card__description {
        max-width: 334px;
        max-height: 92px;
        font-weight: 500;
        font-size: 16px;
        line-height: 30px;
        /* or 188% */

        color: $color-text;
      }
    }
  }
  @media screen and (max-width: 1200px) {
    .whatGpt-3_top {
      flex-direction: column;
      margin: 25px;
    }

    .whatGpt-3_bottom {
      flex-direction: column;
    }
    .Gpt3Card {
      padding: 35px 0;
    }
  }
}
@media screen and (max-width: 950px) {
  .whatGpt-3 {
    padding: 10px 30px;
    .whatGpt-3_mid {
      flex-direction: column;
      margin: 25px 0;
      p {
        padding-top: 40px;
      }
    }
  }
}
@media screen and (max-width: 500px) {
  .Gpt3Card {
    padding: 50px 0;
  }
}

// end of what is Gpt-3 section

// start styling of features
.features {
  flex: 1;
  margin: 0 auto 0 auto;
  padding: 100px 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1700px;
  width: 100%;
  height: 100%;

  .features__wrapper-left {
    flex: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: flex-start;
    flex-direction: column;

    h2 {
      max-width: 426px;
      max-height: 180px;
      font-weight: 800;
      font-size: 34px;
      line-height: 45px;
      background: $gradient-text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    p {
      max-width: 271px;
      max-height: 30px;
      font-weight: 500;
      padding-top: 35px;
      font-size: 16px;
      line-height: 30px;
      color: #ff8a71;
    }
  }
  .features__wrapper-right {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-start;
  }
  .features__wrapper-right__items {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
  }
  .Gpt3Card {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 25px 0;
  }
  .Gpt3Card__title {
    max-width: 182px;
    max-height: 48px;
    font-weight: 550;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: -0.04em;
    color: #ffffff;
  }
  .Gpt3Card__upperline {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
    max-width: 38px;
    max-height: 3px;
    background: $gradient-text;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .Gpt3Card__description {
    max-width: 334px;
    max-height: 92px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $color-text;
  }
}
@media screen and (max-width: 1350px) {
  .features {
    margin: 0 auto 0 auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 600px;
  }
  .Gpt3Card {
    flex-direction: column;
    margin: 20px;
    max-width: 400px;

    .Gpt3Card__title {
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 600px) {
  .features {
    padding: 0 50px;
  }
}
// end styling of features

// Starting style of Possibility
.possibility {
  display: flex;
  margin: 0 auto 0 auto;
  padding: 100px 150px;
  max-width: 1400px;
  .Possibility__right {
    display: flex;
    flex-direction: column;
    .Possibility__right-top {
      max-width: 271px;
      max-height: 30px;
      font-weight: 500;
      font-size: 16px;
      line-height: 30px;
      color: #71e5ff;
    }
    h2 {
      max-width: 426px;
      max-height: 90px;
      font-weight: 800;
      font-size: 48px;
      line-height: 45px;
      background: $gradient-text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      margin: 40px 0;
    }
    p {
      max-width: 479px;
      max-height: 120px;
      font-weight: 400;
      font-size: 19px;
      line-height: 30px;
      color: $color-text;
    }
    .Possibility__right-bottom {
      max-width: 300px;
      max-height: 30px;
      font-weight: 500;
      font-size: 19px;
      color: $color-subtext;
      margin: 40px 0;
    }
  }
  @media screen and (max-width: "600px") {
    .Possibility__right-bottom {
      padding-top: 80px;
    }
  }
}
@media screen and (max-width: "455px") {
  .possibility {
    padding: 40px;
  }
}

// end style of Possibility

// start styling CTA section
.cta {
  max-width: 1400px;
  padding: 100px 75px;
  margin: 0 auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 172.65px;
  background: $gradient-text;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10.7236px;

  p {
    max-width: 318.87px;
    max-height: 46.89px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
  }
  span {
    max-width: 801.87px;
    max-height: 70.34px;
    font-weight: 800;
    font-size: 34px;
    line-height: 45px;
  }
  button {
    max-width: 189.14px;
    max-height: 59.4px;
    margin-top: 25px;
    padding: 13px 40px;
    border-radius: 40px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    background-color: #000000;
    color: #ffffff;
  }
  @media screen and (max-width: "700px") {
    span {
      line-height: 20px;
      font-size: 30px;
    }
    p {
      line-height: 15px;
      padding-bottom: 15px;
    }
  }
  @media screen and (max-width: "550px") {
    span {
      font-size: 20px;
    }
    p {
      display: none;
    }
  }
}

// end styling CTA section

//  start styling Blog section
.blog {
  max-width: 1400px;
  padding: 100px 75px;
  margin: 0 auto 0 auto;

  h3 {
    max-width: 701px;
    max-height: 150px;
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
    background: $gradient-text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }
}
//  end styling Blog section
